body
{
	background-color: #00040F;
}
#intro
{
	background: linear-gradient(to right, rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(../images/head_background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
 	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
margin-top: 80px;
}
#contacto
{
	padding-top: 5%;
	padding-bottom: 5%;
}
#textoVariable
{
	color: #005DD1;
	font-size: 250%;
}
#quienesSomos
{
	background: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../images/who.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
 	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#vrAr
{
	background: linear-gradient(to right, rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url(../images/headset.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
 	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#queHacemos
{
	background: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../images/q_background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
 	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}
.barra
{
	background-color: #00040F;
}
.centrado
{
	text-align: center;
}
.font
{
	color: #005DD1;
}
.img
{
	border-radius: 2%;
}
.dfont
{
	color: #00040F;
}
.titulo
{
	padding-bottom: 2%;
}
.jumbotron
{
	margin-bottom: 0;
	border-radius: 0;
}
.video
{
	margin-top: 3%;
	border-radius: 1%;
}

